# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/pubspec.lock

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
