{%extends "layout.html"%}
{% block title %}Crear Secretaria{%endblock%}

{% block subtitle %}Formulario para crear Secretarias{%endblock%}

{% block content %}
<h3>Crear Secretaria</h3>
 <!-- Mostrar mensajes flash de Django -->
<form method="POST" action="{% if secretaria %}{% url 'editar_secretaria' secretaria.id %}{% else %}{% url 'crear_secretaria' %}{% endif %}">
    {% csrf_token %}
    {% if secretaria %}
        <input type="hidden" name="id" value="{{ secretaria.id }}">
    {% endif %} 
    <table>
        <tr>
            <td>
                <p>
                    <label >ID</label>
                    <input type="text" name="id" value="{{ secretaria.id|default:'' }}" readonly>
                </p>
            </td>
            <td>
                <p>
                    <label>Nombre:</label><br>
                    <input type="text" name="nombre" value="{{ secretaria.nombre|default:'' }}" required>
                </p>    
            </td>
            <td>
                <p>
                    <label>Teléfono:</label><br>
                    <input type="text" name="telefono" value="{{ secretaria.telefono|default:'' }}" required>
                </p>        
            </td>
            <td>    
                <p>
                    <label>Email:</label><br>
                    <input type="email" name="email" value="{{ secretaria.correo|default:'' }}" required>
                </p>
                