{% extends "layout.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block subtitle %}Formulario para crear usuario{% endblock %}

{% block content %}

{% if error %}
<div style="color:red;">{{ error }}</div>
{% endif %}

{% if success %}
<div style="color:green;">{{ success }}</div>
{% endif %}

<form method="POST" action="">
    {% csrf_token %}
    <p>
        <label>Username:</label><br>
        <input type="text" name="username" required>
    <p>
        <label>Password:</label><br>
        <input type="password" name="password" required>
    </p>
    <p>
        <label>Comprobar Password:</label><br>
        <input type="password" name="password1" required>
    </p>
    <p>
        <label>Rol:</label><br>
        <select name="rol">
            {% for rol  in roles %}
            <option value="{{ rol.id }}">{{ rol.nombre|capfirst }}</option>
            {% endfor %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </select>
    </p>

    <p>
        <button type="submit">Guardar </button>
    </p>
</form>
{% endblock %}