<!--template/listar_usuario.html-->
{% extends "layout.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% block subtitle %}Lista de Usuarios Registrados{% endblock %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0" style="width:100%; background:#fff; border-collapse: collapse;">
    <thead style="background:#2ba977; color:#fff;">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Contraseña</th>
            <th>Rol</th>
            <th>Estatus</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{usuario.password}}</td>
            <!--<td>
                {%if usuario.password%}
                <span style="color: red;">******</span>
                {% else %}
                <span style="color: green;">No disponible</span>
                {% endif %}

            </td>-->
            <td>{{ usuario.rol }}</td>
            <td></td>
            <td><a href="{% url 'editar_usuario' usuario.id %}">Editar</a></td>


        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay usuarios registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}